# Node.js dependencies
node_modules/
npm-debug.log
yarn-error.log

# Logs
logs
*.log
*.out
*.pid

# Environment variables
.env
.env.local
.env.*.local

# OS files
.DS_Store
Thumbs.db

# Docker
*.tar
*.bak
*.swp

# Kubernetes
.kube/
.kubeconfig
